<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Video Player</title>
</head>
<body>
        <div class="right-sidebar">
            <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="./i" alt="">
                    </a>
                    <div class="vid-info">
                     <a href="#">This is a fullstack development.</a>
                     <p>Happy Students</p>
                     <p>1M Views &bull; 2 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="./images/thumbnail-2.jpg" alt="">
                    </a>
                    <div class="vid-info">
                     <a href="#">This is a fullstack development.</a>
                     <p>Happy Students</p>
                     <p>1M Views &bull; 2 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="./images/thumbnail-3.jpg" alt="">
                    </a>
                    <div class="vid-info">
                     <a href="#">This is a fullstack development.</a>
                     <p>Happy Students</p>
                     <p>1M Views &bull; 2 days ago</p>
                    </div>
                </div>
                <div class="side-video-list">
                    <a href="#" class="small-thumbnail">
                        <img src="./images/thumbnail-4.jpg" alt="">
                    </a>
                    <div class="vid-info">
                     <a href="#">This is a fullstack development.</a>
                     <p>Happy Students</p>
                     <p>1M Views &bull; 2 days ago</p>
                    </div>
                </div>
                

</body>
</html>